@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Medication Management</h1>
    <p>Use the extension /api/medication to access the API</p>
    <p>You can read more about the API on the Readme.md file!.</p>
</div>
